/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* header */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.wrap-header {
  background: rgba(22, 22, 22, 0.7);
  height: 87px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 101;
  @include transition-all(0.2);
  @include media-breakpoint-md {
    height: 60px;
  }
  .logo {
    @include h-center;
    top: 10px;
    bottom: 0;
    @include media-breakpoint-md {
      width: 70px;
    }
    .base {
      display: block;
      transform: translateY(0);
      transition: all 1s;
    }
    .mask {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;

      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      transition: all 1s;

      opacity: 0;
    }
    &:hover {
      .mask {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all 1s cubic-bezier(0.175, 0.885, 0.170, 1.110);

        opacity: 1;
      }
      .base {
        opacity: 0;
        transition: all 1s;
      }
    }
  }
  &.black {
    background: rgba(22, 22, 22, 1);
  }
}

/* hamburger */
#btn-hamburger {
  background: $color-blue;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 22px 33px;
  @include transition-all(0.2);
  @include media-breakpoint-md {
    padding: 18px;
  }
  &:hover {
    bottom: -3px;
    opacity: .8;
  }
}
.hamburger .text {
  font-size: rem(16);
  top: 28px;
  color: $color-white;
  text-transform: uppercase;
  @include h-center;
  @include media-breakpoint-md {
    display: none;
  }
}
.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner:after, 
.hamburger.is-active .hamburger-inner:before,
.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border-radius: 0;
}
.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
  height: 3px;
  width: 26px;
}
.hamburger--spring .hamburger-inner:before {
  top: 10px;
}
.hamburger--spring .hamburger-inner:after {
  top: 20px;
}
.hamburger-box {
  width: 26px;
  height: 23px;
}

.list-link {
  float: right;
  li {
    float: left;
    width: 96px;
    @include media-breakpoint-md {
      width: 40px;
    }
  }
  a {
    display: block;
    height: 87px;
    line-height: 82px;
    text-align: center;
  
    @include transition-all(0.2);
    @include media-breakpoint-md {
      height: 60px;
      line-height: 55px;
    }
    &:hover {
      height: 92px;
      opacity: .8;
      @include media-breakpoint-md {
        height: 65px;
      }
    }
  }
  .email {
    a {
      background: $color-yellow;
      color: #FFFFFF;
    }
    .icon {
      background: url("../img/icon/email.png") no-repeat center center;
      background-size: 100%;
      width: 36px;
      height: 87px;
      margin: 0 auto;
      text-indent: -9999px;
      display: block;
      @include media-breakpoint-md {
        width: 25px;
        height: 60px;
        line-height: 60px;
      }
    }
  }
  .search {
    display: block;
    height: 87px;
    line-height: 82px;
    cursor: pointer;
    background: $color-black2;
    color: #FFFFFF;
    @include transition-all(0.2);
    @include media-breakpoint-md {
      height: 60px;
      line-height: 60px;
    }
    &:hover {
      height: 92px;
      opacity: .8;
      @include media-breakpoint-md {
        height: 65px;
      }
    }
    .icon {
      background: url("../img/icon/magnifier.png") no-repeat center center;
      background-size: 100%;
      width: 36px;
      height: 87px;
      margin: 0 auto;
      text-indent: -9999px;
      display: block;
      @include media-breakpoint-md {
        background-size: 20px auto;
        height: 60px;
        line-height: 60px;
      }
    }
    &.active {
      .icon {
        background-image: url("../img/icon/magnifier-close.png");
      }
    }
  }
}

.new-mainmenu {
  position: fixed;
  left: 0;
  top: 87px;
  right: 0;
  bottom: 0;
  z-index: 10;
  @include media-breakpoint-md {
    top: 60px;
  }
  .mainmenu {
    position: fixed;
    left: 0;
    top: 87px;
    right: 0;
    bottom: 0;
    overflow: auto;

    visibility: hidden;
    transition: visibility 0.5s ease;

    padding: 0;
    z-index: 2;

    @include media-breakpoint-md {
      top: 60px;
      padding: 1.5rem 0;
    }
  }
  .mainmenu-wrap {
    padding: 2rem 0;
    position: relative;
    @include media-breakpoint-md {
      padding: .5rem 0;
    }
    &::before {
      content: '';
      display: block;
      height: 5px;
      background: $color-blue;
      position: absolute;
      left: -15px;
      right: 110%;
      top: 0;
      transition: all .7s cubic-bezier(0.42, 0.0, 0.58, 1.0);
      opacity: 0;
      @include media-breakpoint-md {
        display: none;
      }
    }
  }
  .mainmenu-head {
    border-bottom: solid 3px #91908f;
    display: block;
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
  }
  .mainmenu-subhead {
    border-bottom: solid 3px #91908f;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-weight: bold;
  }  
  .bg {
    background: rgba($color-white, 1);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transform: scale(1, 0);
    transform-origin: center bottom;
    transition-delay: 0.3s;
    transition: transform 0.5s ease-in-out;
  }
  .list-mainmenu {
    margin: 0 0 10px 0;
    font-size: 0.9rem;
    li {
      a {
        display: block;
        border-bottom: solid 1px #d4d4d4;
        padding: 5px 0 5px 30px;
        position: relative;
      }
      a::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 12px;
        width: 5px;
        height: 5px;
        background: $color-black;
      }
    }
  }
  .list-mainmenu-border {
    font-size: 0.9rem;
  }
  .list-mainmenu-border li a {
    display: block;
    border-bottom: solid 1px #d4d4d4;
    padding: 5px 0 5px 0;
    position: relative;
  }
  .mainmenu-head,
  .mainmenu-subhead,
  .list-mainmenu-border,
  .list-mainmenu {
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition-delay: 0.2s;
  }
  &.close-menu {
    @include avoid-click;
    .bg {
      transform-origin: center bottom;
      transform: scale(1, 0);
      transition-delay: 0.3s;
    }
    .mainmenu-head,
    .mainmenu-subhead,
    .list-mainmenu-border,
    .list-mainmenu {
      animation: am__mainmenu 1s ease-in-out;
    }
    .mainmenu {
      visibility: hidden;
      transition: visibility 0.5s ease; 
    }
  }
  &.open-menu {
    .bg {
      transform: scale(1, 1);
    }
    .mainmenu-head,
    .mainmenu-subhead,
    .list-mainmenu-border,
    .list-mainmenu {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      transition-delay: 0.2s;
      animation: am__mainmenu 1s ease-in-out;
    }
    .mainmenu {
      visibility: visible;
      transition: visibility 0.5s ease; 
    }
  }
}

@keyframes am__mainmenu {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

/* switch lang */
.switch-lang {
  float: right;
  position: relative;
  .current {
    text-align: center;
    font-size: rem(18);
    font-weight: bold;
    background: $color-white;
    display: block;
    height: 87px;
    line-height: 82px;
    padding: 0 15px;
    position: relative;
    width: 96px;
    cursor: pointer;
    @include media-breakpoint-md {
      font-size: rem(14);
      padding: 0 10px;
      width: auto;
      height: 60px;
      line-height: 60px;
    }
  }
  .list-lang {
    margin: 0;
    position: absolute;
    left: 0;
    width: 192px;
    top: 87px;
    @include media-breakpoint-md {
      top: 60px;
      font-size: rem(14);
      width: 120px;
    }
    li {
      border-top: solid 1px $color-grey3;
    }
    .lang {
      font-size: rem(16);
      background: $color-white;
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      position: relative;
      @include media-breakpoint-md {
        font-size: rem(12);
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        width: auto;
      }
      img {
        border: solid 1px $color-grey3;
        margin-top: -2px;
      }
    }
    a:hover {
      background: #fbe7cc;
    }
  }
  &.close-lang {
    .list-lang {
      visibility: hidden;
      transition: visibility 0.5s ease;
      li {
        transform: translateY(-50px);
        opacity: 0;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        transition-delay: 0.2s;

        animation: am__mainmenu 1s ease-in-out;
      }
    }
  }
  &.open-lang {
    .list-lang {
      visibility: visible;
      transition: visibility 0.5s ease;
      li {
        transform: translateY(0);
        opacity: 1;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        transition-delay: 0.2s;
        animation: am__mainmenu 1s ease-in-out;
      }
    }
  }
}

/* search */
.search-wrap {
  position: fixed;
  left: 0;
  top: 87px;
  right: 0;
  bottom: 0;
  z-index: 10;
  .head {
    color: $color-yellow;
  }
  .search-block {
    @include vh-center;
    z-index: 11;
    width: 65%;
    @include media-breakpoint-xl {
      width: 80%;
    }
    @include media-breakpoint-md {
      width: 100%;
      padding: 0 15px;
    }
  }
  .search-input {
    background: none;
    border-radius: 0;
    color: $color-white;
    border: solid 1px $color-white;
    &:focus {
      border-color: $color-yellow;
      box-shadow: 0 0 0 0.2rem rgba($color-yellow,.25);
    }
  }
  .search {
    position: relative;
  }
  .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    padding: 10px;
  }
  .list-word {
    margin: 0;
    padding: 1rem 0 0 0;
    width: 100%;
    text-align: center;
    @include media-breakpoint-md {
      padding: .75rem 0 0 0;
    }
    li {
      display: inline-block;
      margin: 12px 4px;
      @include media-breakpoint-md {
        margin: 8px 4px;
      }
      a {
        display: block;
        color: $color-black;
        padding: 5px 10px;
        background: $color-white;
        border-radius: 15px;
        @include transition-all(0.2);
        @include media-breakpoint-md {
          font-size: rem(12);
        }
        &:hover {
          background: $color-yellow;
          @include transition-all(0.2);
          padding: 5px 15px;
        }
      }
    }
  }
  .bg {
    background: rgba($color-black, .95);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    transform: scale(1, 0);
    transform-origin: center bottom;
    transition-delay: 0.3s;
    transition: transform 0.5s ease-in-out;
  }
  &.close-search {
    @include avoid-click;
    .bg {
      transform-origin: center bottom;
      transform: scale(1, 0);
      transition-delay: 0.5s;
    }
    .head,
    .search,
    .list-word li {
      transform: translateY(-50px);
      opacity: 0;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      transition-delay: 0.2s;
      animation: am__mainmenu 1s ease-in-out;
    }
    .head {
      transition-delay: 0.2s;
    }
    .search {
      transition-delay: 0.3s;
    }
    .list-word li {
      transition-delay: 0.4s;
    }
    .search-block {
      visibility: hidden;
      transition: visibility 0.5s ease; 
      transition-delay: 1s;
    }
  }
  &.open-search {
    .bg {
      transform: scale(1, 1);
    }
    .head,
    .search,
    .list-word li {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      transition-delay: 0.2s;
      animation: am__mainmenu 1s ease-in-out;
    }
    .head {
      transition-delay: 0.2s;
    }
    .search {
      transition-delay: 0.3s;
    }
    .list-word li {
      transition-delay: 0.4s;
    }
    .search-block {
      visibility: visible;
      transition: visibility 0.5s ease;
    }
  }
}